<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="String" type="java.lang.String"/>
        <typeAlias alias="List" type="java.util.List"/>
        <typeAlias alias="Map" type="java.util.Map"/>
        <typeAlias alias="Integer" type="java.lang.Integer"/>
    </typeAliases>
    <!--<plugins>-->
        <!--<plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">-->
            <!--<property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>